.DS_Store
.huskyrc.json
out
log.log
**/node_modules
*.pyc
*.vsix
envVars.txt
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.nyc_output
.vscode-test
__pycache__
npm-debug.log
**/.mypy_cache/**
!yarn.lock
coverage/
cucumber-report.json
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
port.txt
precommit.hook
python_files/lib/**
python_files/get-pip.py
debug_coverage*/**
languageServer/**
languageServer.*/**
bin/**
obj/**
.pytest_cache
tmp/**
.python-version
.vs/
test-results*.xml
xunit-test-results.xml
build/ci/performance/performance-results.json
!build/
debug*.log
debugpy*.log
pydevd*.log
nodeLanguageServer/**
nodeLanguageServer.*/**
dist/**
# translation files
*.xlf
package.nls.*.json
l10n/
python-env-tools/**
# coverage files produced as test output
python_files/tests/*/.data/.coverage*
python_files/tests/*/.data/*/.coverage*
src/testTestingRootWkspc/coverageWorkspace/.coverage
logs/**/*
raw_data/**/*
dataset/**/*
analyze/**/*
wandb/**/*
*.pth
*.pt
*.pkl
*.h5
*.npy
*.npz
*.csv
*.tsv
imdb_bert/
imdb_download/
imdb-truncated/
imdb/
examples/train_gsm8k.py
sft_gsm8k/
wikitext-2/
wikitext2/
wandb/
deprecated_examples/**/*
deprecated_examples/
example_dataset_mix_reload/
example_dataset_mix_reload/**/*
init_private.sh